@{
string Title = Model.WithoutSettings.String(BlogKeys.Title);
string PageTitle = Context.String(BlogKeys.Title) + (string.IsNullOrWhiteSpace(Title) ? string.Empty : " - " + Title);
}
<!DOCTYPE html>
<html>

<head>
        @Html.Partial("_Head")
</head>

<body class="is-preload">
        <div id="wrapper">
                @Html.Partial("_Header")
                @Html.Partial("_Menu")
                <div id="main">
                        @RenderBody()
                </div>

                @Html.Partial("_Sidebar")
        </div>
        @Html.Partial("_Footer")
        </body>
        
</html>
