@{
var Title = Model.WithoutSettings.String(BlogKeys.Title);
var PageTitle = Context.String(BlogKeys.Title) + (string.IsNullOrWhiteSpace(Title) ? string.Empty : " - " + Title);
var Slug = Context.GetLink(Model);
var SourceFile = Model.String(Keys.SourceFileName);
var lead = Model.String(BlogKeys.Lead);
var imgUrl = Model.String(BlogKeys.Image);
var Tags = Model.Get<string[]>(BlogKeys.Tags);
}
	<!DOCTYPE html>
	<html lang="en">

	<head>
		@Html.Partial("_Head")
	</head>

	<body class="is-preload">
		<div id="wrapper">
			@Html.Partial("_Header")
			@Html.Partial("_Menu")
			<div id="main">
				<article class="post">
					<header>
						<div class="title">
							<h2>@Title</h2>
							@if(!string.IsNullOrWhiteSpace(lead))
							{
							<p>@lead</p>
							}
						</div>
						<div class="meta">
							<time class="published" datetime='@(Model.Get<DateTime>(BlogKeys.Published))'>@(Model.Get
								<DateTime>(BlogKeys.Published).ToString("MMMM dd, yyyy"))</time>
						</div>
					</header>
					<span class="image featured">
						@if(!string.IsNullOrWhiteSpace(imgUrl))
						{
						<img src="@imgUrl" alt="" />
						}
					</span>
					@RenderBody()
					<footer>
											<ul class="stats">
							@if (Tags != null)
							{

							@foreach (string tag in Tags.OrderBy(x => x))
							{
							IDocument tagDocument = Documents[Blog.Tags].FirstOrDefault(x => x.String(BlogKeys.Tag) ==
							tag && x.Get<int>(Keys.CurrentPage) == 1);
								if(tagDocument != null)
								{
								<li><a role="button" href="@Context.GetLink(tagDocument)"
										class="btn btn-default btn-xs">@tag</a></li>
								}
								}
								}
								<li><a href="@Context.GetLink(Model)#commento"
										onClick="if($('#commento').is(':empty') ) {window.commento.main();}"
										class="icon solid fa-comment">0 Comments</a></li>
						</ul>
						
				
						
					<script  src=@Context.GetLink("assets/js/highlight.pack.js")></script>
					</footer>
							<section id="post-footer"> 
				
							
							
								<p>
								<div><a href="#" class="logo"><img src='/images/profile2020.jpg' alt="Michael Burch profile." /></a></div>
								Michael Burch is a technology professional and consultant focused on cloud modernization
								</p><p>
								<ul class="icons">
									<li><a href="https://github.com/michaelburch" class="icon-github" target="_blank" rel="noopener"> GitHub<span class="label">GitHub</span></a></li>
									<li><a href="https://linkedin.com/in/michaelpburch" class="icon-linkedin" target="_blank" rel="noopener"> LinkedIn<span class="label">LinkedIn</span></a></li>
									<li><a href="/subscribe.html" class="icon-envelope"> Subscribe<span class="label">Subscribe</span></a></li>
									<li><a href="/about" class="icon-none" target="_blank"> About<span class="label">About</span></a></li>
								</ul>
								</p>	
							
					
				
						</section> 
					<div id="commento"></div>
					<script defer src="https://cdn.commento.io/js/commento.js" data-auto-init="false"></script>


			</div>
			<script src="https://cdn.commento.io/js/count.js" async></script>
			<script src=@Context.GetLink("assets/js/cookieconsent.min.js")></script>
			<script defer>
				function highlightCode() {
					var pres = document.querySelectorAll("pre>code");
					for (var i = 0; i < pres.length; i++) {
						hljs.highlightBlock(pres[i]);
					}
				}
				highlightCode();
			</script>
			@Html.Partial("_PostFooter")
	</body>

	</html>