<!DOCTYPE html>
<html lang="en" prefix="og: http://ogp.me/ns#">

<head>
  @Html.Partial("_head")
  @Html.Partial("_menu")        
  @if (Context.GetBool("GenerateCustomSearchIndex") && (Document.GetString("Title") == "Search"))
  {
    <!-- Lunr search -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/lunr@2.3.9/lunr.min.js"></script> -->
    <script src=@Context.GetLink("assets/js/lunr.min.js")></script>
    <!-- <script src="https://cdn.jsdelivr.net/npm/pako@2.0.3/dist/pako_inflate.min.js"></script> -->
    <script src=@Context.GetLink("assets/js/pako_inflate.min.js")></script>
    <script src="@(Context.GetLink(Context.GetPath(WebKeys.SearchScriptPath)))"></script>
  }
</head>

<body class="is-preload">
        <div id="wrapper">
                @Html.Partial("_header")
                
                <div id="main">
                        @RenderBody()
                </div>

                @Html.Partial("_sidebar")
        </div>
        @Html.Partial("_footer")
        @RenderSection("Scripts", false)
        </body>
</html>
