@model IDocument
@{
var Title = Document.GetString("Title");
string imgUrl = Document.GetString("Image");
var lead = Document.GetString("Lead");
var Tags = new string[]{""};
var threadId = Document.GetString("ThreadId");
var blueskyUser = Document.GetString("BlueskyUser");
}
	<!DOCTYPE html>
	<html lang="en">

	<head>
		@Html.Partial("_head")
		<link rel="stylesheet" href="@Context.GetLink("assets/css/xcode.css")" rel="preload" as="style" onload="this.onload=null;this.rel='stylesheet'" />
  		<link rel="stylesheet" href="@Context.GetLink("assets/css/vs2015.css")" rel="preload" as="style" onload="this.onload=null;this.rel='stylesheet'" media='(prefers-color-scheme: dark)' />
	</head>

	<body class="is-preload">
		<div id="wrapper">
			@Html.Partial("_header")
			@Html.Partial("_menu")
			<div id="main">
				<article class="post">
					<header>
						<div class="title">
							<h2>@Title</h2>
							@if(!string.IsNullOrWhiteSpace(lead))
							{
							<p>@lead</p>
							}
						</div>
						 <div class="meta">
                            <time class="published" datetime='@(Model.GetDateTime(Statiq.Web.WebKeys.Published).ToString("MMMM dd, yyyy"))'>@(Model.GetDateTime(Statiq.Web.WebKeys.Published).ToString("MMMM dd, yyyy"))</time>
                        </div>
					</header>
					<span class="image featured">
						@if(!string.IsNullOrWhiteSpace(imgUrl))
						{
						<img src="@imgUrl" alt="" />
						}
					</span>
					@RenderBody()
						<section id="post-footer"> 
								<p>
								<div><a href="#" class="logo"><img src='/images/profile2023.jpg' alt="Michael Burch profile." /></a>Michael Burch is a technology professional and consultant focused on cloud modernization</div>
								</p><p>
								<ul>
									<li><a href="https://github.com/michaelburch" class="icon icon-github" target="_blank" rel="noopener"> GitHub<span class="label">GitHub</span></a></li>
									<li><a href="https://linkedin.com/in/michaelpburch" class="icon icon-linkedin" target="_blank" rel="noopener"> LinkedIn<span class="label">LinkedIn</span></a></li>
									<li><a href="/subscribe.html" class="icon icon-envelope"> Subscribe<span class="label">Subscribe</span></a></li>
									<li><a href="/about" class="icon icon-info-circle" target="_blank"> About<span class="label">About</span></a></li>
								</ul>
								</p>	
						</section> 
					<footer>
						@if(!string.IsNullOrWhiteSpace(threadId))
						{
							<a href="https://bsky.app/profile/@blueskyUser/post/@threadId"
							class="icon solid fa-comment button large">Comment on this post</a>
							<br/>
							<script defer src="/assets/js/purify.min.js"></script>
							<script defer src="/assets/js/comments.js" data-username="@blueskyUser" data-threadId="@threadId"></script>
						}
					
					</footer>
					<br/>
					@if(!string.IsNullOrWhiteSpace(threadId))
					{
						<h2>Comments</h2>
					}
					<div id="comments"></div>
			</div>
			@Html.Partial("_footer")
			<script src=@Context.GetLink("assets/js/highlight.pack.js")></script>
			<script async defer>
				function highlightCode() {
					var pres = document.querySelectorAll("pre>code");
					for (var i = 0; i < pres.length; i++) {
						hljs.highlightBlock(pres[i]);
					}
				}
				highlightCode();
			</script>
	</body>
	</html>
