@model IDocument

@{
    //string excerpt = Model.GetString(Statiq.Html.HtmlKeys.Excerpt);
 
    var lead = Model.GetString("Lead");
    var Tags = Model.Get<string[]>("Tags");
    var imgUrl = Model.GetString("Image");
    var excerptString = Model.GetString("Excerpt");
    var lastCharIndex = excerptString.LastIndexOf('<') - 1 ;
    var excerpt = excerptString.Insert(lastCharIndex + 1,"\u2026");
}
<article class="mini-post">
<header>
                <div class="title">
                    <h3><a class="header" href="@Context.GetLink(Model)">@Model.GetString("Title")</a></h3>
                    @if(!string.IsNullOrWhiteSpace(lead))
                    {
                        <p>@lead</p>
                    }
                </div>

                <div class="meta">
                    <time class="published"
                        datetime='@(Model.GetDateTime(WebKeys.Published).ToString("MMMM dd, yyyy"))'>@(Model.GetDateTime(WebKeys.Published).ToString("MMMM dd, yyyy"))</time>
                </div>
            </header>
        @if(!string.IsNullOrWhiteSpace(imgUrl))
            {
                <a href="@Context.GetLink(Model)" class="image featured"><img src="@imgUrl" alt="" /></a>
            }
           
</article>