@model IDocument

@foreach (IDocument post in Model.GetChildren())
{
    @Html.Partial("/_post.cshtml", post)
}

@{
    IDocument newer = Model.GetDocument(Keys.Previous);
    IDocument older = Model.GetDocument(Keys.Next);
}
@if (older != null || newer != null)
{
    <ul class="actions pagination">

           @{
                var nextPageClass = "button large previous";
                var previousPageClass = "button large next";
                newer = Model.GetDocument(Keys.Previous) ?? Model;
                older = Model.GetDocument(Keys.Next) ?? Model;
                
                if (older == Model)
                    nextPageClass += " disabled";

                if (newer == Model)
                    previousPageClass += " disabled";
            }
     
            <li><a href="@Context.GetLink(newer)" class="@previousPageClass">Newer Posts</a></li>
            <li><a href="@Context.GetLink(older)" class="@nextPageClass">Older Posts</a></li>

        </ul>
}