@model IDocument
@{
var Title = Document.GetString("Title");
string imgUrl = Document.GetString("Image");
var lead = Document.GetString("Lead");
var Tags = new string[]{""};
}
	<!DOCTYPE html>
	<html lang="en">

	<head>
		@Html.Partial("_head")
	</head>

	<body class="is-preload">
		<div id="wrapper">
			@Html.Partial("_header")
			@Html.Partial("_menu")
			<div id="main">
				<article class="post">
					<header>
						<div class="title">
							<h2>@Title</h2>
							@if(!string.IsNullOrWhiteSpace(lead))
							{
							<p>@lead</p>
							}
						</div>
						 <div class="meta">
                            <time class="published" datetime='@(Model.GetDateTime(Statiq.Web.WebKeys.Published).ToString("MMMM dd, yyyy"))'>@(Model.GetDateTime(Statiq.Web.WebKeys.Published).ToString("MMMM dd, yyyy"))</time>
                        </div>
					</header>
					<span class="image featured">
						@if(!string.IsNullOrWhiteSpace(imgUrl))
						{
						<img src="@imgUrl" alt="" />
						}
					</span>
					@RenderBody()
						<section id="post-footer"> 
								<p>
								<div><a href="#" class="logo"><img src='/images/profile2022.jpg' alt="Michael Burch profile." /></a>Michael Burch is a technology professional and consultant focused on cloud modernization</div>
								</p><p>
								<ul>
									<li><a href="https://github.com/michaelburch" class="icon icon-github" target="_blank" rel="noopener"> GitHub<span class="label">GitHub</span></a></li>
									<li><a href="https://linkedin.com/in/michaelpburch" class="icon icon-linkedin" target="_blank" rel="noopener"> LinkedIn<span class="label">LinkedIn</span></a></li>
									<li><a href="/subscribe.html" class="icon icon-envelope"> Subscribe<span class="label">Subscribe</span></a></li>
									<li><a href="/about" class="icon icon-info-circle" target="_blank"> About<span class="label">About</span></a></li>
								</ul>
								</p>	
						</section> 
					<footer>

		         
						<a href="@Context.GetLink(Model)#commento"
							onClick="if($('#commento').is(':empty') ) {window.commento.main();}"
							class="icon solid fa-comment button large">Comment on this post</a>
					
					<script  src=@Context.GetLink("assets/js/highlight.pack.js")></script>
					</footer>
						
					<div id="commento"></div>
					<script defer src="https://cdn.commento.io/js/commento.js" data-auto-init="false"></script>
					<script defer>window.commentsText = function(count) { return "Comment on this post [" + count + "]"}</script>
					<script defer src="https://cdn.commento.io/js/count.js" data-custom-text="window.commentsText" async></script>
			</div>
			<script defer>
				function highlightCode() {
					var pres = document.querySelectorAll("pre>code");
					for (var i = 0; i < pres.length; i++) {
						hljs.highlightBlock(pres[i]);
					}
				}
				highlightCode();
			</script>
			@Html.Partial("_footer")
	</body>
	</html>
