@{
string Title = @Document.GetString(WebKeys.Title);
string PageTitle = Context.String(WebKeys.Title) + (string.IsNullOrWhiteSpace(Title) ? string.Empty : " - " + Title);
}
<!DOCTYPE html>
<html lang="en" prefix="og: http://ogp.me/ns#">

<head>
        @Html.Partial("_head")
        @RenderSection("Head", false)
</head>

<body class="is-preload">
        <div id="wrapper">
                @RenderSectionOrPartial("Header", "_header")
                @RenderSectionOrPartial("Menu", "_menu")
                <div id="main">
                        @RenderBody()
                </div>

                @Html.Partial("_Sidebar")
        </div>
        @Html.Partial("_Footer")
        
        </body>
</html>
